<div class="editing-resourcebrowser-footer">
  <a class="editing-button resourcebrowser-close">
    Cancel
  </a>

  <a class="editing-button editing-green resourcebrowser-save">
    Select

    <span class="editing-resourcebrowser-counter selected-total"></span>
  </a>

  <a class="editing-button editing-red resourcebrowser-delete">
    Delete

    <span class="editing-resourcebrowser-counter selected-total"></span>
  </a>
