<div class="editing-resourcebrowser-topbar">
  <div class="editing-resourcebrowser-search">
    <input class="search-field" placeholder="Search", type="text" />

    <button class="search-field-button">
      Search
    </button>
  </div>

  <span class="editing-button-view" data-size="large">
    <span class="editing-icon editing-icon-th-large" title="large tumbnails"></span>
  </span>

  <span class="editing-button-view" data-size="big">
    <span class="editing-icon editing-icon-th" title="big tumbnails"></span>
  </span>

  <span class="editing-button-view" data-size="normal">
    <span class="editing-icon editing-icon-th-medium" title="normal tumbnails"></span>
  </span>

  <span class="editing-button-view" data-size="small">
    <span class="editing-icon editing-icon-th-small" title="small tumbnails"></span>
  </span>
</div>
