<div class="editing-resourcebrowser-body">
  <div class="editing-resourcebrowser-wrapper">
    <%= render 'header' %>

    <div class="editing-resourcebrowser-filter"></div>
    <div class="editing-resourcebrowser-items"></div>
  </div>

  <div class="editing-resourcebrowser-inspector"></div>
</div>

<%= render 'buttons' %>
